target
Cargo.lock
flamegraph.svg
.vscode
*.svg
.DS_Store

out/

bindings/
experiments/artifact.zip
experiments/artifact
experiments/compressionMessages/
experiments/trash/
experiments/benches/
experiments/compression_dev
experiments/data_dreamcoder/
experiments/dreamcoder_logs/
experiments/benches*
experiments/cs2*
experiments/plots
experiments/launchers
perf.data
experiments/claim-2-out-*
experiments/claim-3-out/
experiments/plots/
experiments/claim-3.pdf
experiments/claim-4-out/
experiments/*.json
