[package]
name = "dreamegg"
version = "0.1.0"
authors = ["Matt Bowers <mattb6503@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
egg = "0.6.0"
log = "0.4.0"
env_logger = "0.8.4"