name: Test Release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


env: 
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3
      - run: rustup update stable && rustup default stable
      - name: build
        run: |
         cargo build --verbose
         cargo build --release --verbose
      - name: test
        run: make test
      - name: claim-1
        run: make claim-1
      - name: claim-2
        run: make claim-2 SEEDS=5
      - name: claim-3
        run: make claim-3
      - name: Upload plots
        uses: actions/upload-artifact@v3
        with:
          name: plots-${{ matrix.os }}
          path: experiments/plots


